xml-resources/web-service-references/WSPedidos_4/wsdl/localhost_8080/ProyectoT/WSPedidos.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice/" name="WSPedidos">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice/" schemaLocation="http://localhost:8080/ProyectoT/WSPedidos?xsd=1"/>
</xsd:schema>
</types>
<message name="getPromedioDeMinutos">
<part name="parameters" element="tns:getPromedioDeMinutos"/>
</message>
<message name="getPromedioDeMinutosResponse">
<part name="parameters" element="tns:getPromedioDeMinutosResponse"/>
</message>
<message name="numTotalDePersonas">
<part name="parameters" element="tns:numTotalDePersonas"/>
</message>
<message name="numTotalDePersonasResponse">
<part name="parameters" element="tns:numTotalDePersonasResponse"/>
</message>
<message name="numCantPedidosHoy">
<part name="parameters" element="tns:numCantPedidosHoy"/>
</message>
<message name="numCantPedidosHoyResponse">
<part name="parameters" element="tns:numCantPedidosHoyResponse"/>
</message>
<message name="actualizarPedidoAEntregado">
<part name="parameters" element="tns:actualizarPedidoAEntregado"/>
</message>
<message name="actualizarPedidoAEntregadoResponse">
<part name="parameters" element="tns:actualizarPedidoAEntregadoResponse"/>
</message>
<message name="horaRegistroPedido">
<part name="parameters" element="tns:horaRegistroPedido"/>
</message>
<message name="horaRegistroPedidoResponse">
<part name="parameters" element="tns:horaRegistroPedidoResponse"/>
</message>
<message name="getPromedioDeHoras">
<part name="parameters" element="tns:getPromedioDeHoras"/>
</message>
<message name="getPromedioDeHorasResponse">
<part name="parameters" element="tns:getPromedioDeHorasResponse"/>
</message>
<message name="getNumTotalPedidos">
<part name="parameters" element="tns:getNumTotalPedidos"/>
</message>
<message name="getNumTotalPedidosResponse">
<part name="parameters" element="tns:getNumTotalPedidosResponse"/>
</message>
<message name="getPromHoraFiltrada">
<part name="parameters" element="tns:getPromHoraFiltrada"/>
</message>
<message name="getPromHoraFiltradaResponse">
<part name="parameters" element="tns:getPromHoraFiltradaResponse"/>
</message>
<message name="cambiarEstadoPedidoAListo">
<part name="parameters" element="tns:cambiarEstadoPedidoAListo"/>
</message>
<message name="cambiarEstadoPedidoAListoResponse">
<part name="parameters" element="tns:cambiarEstadoPedidoAListoResponse"/>
</message>
<message name="getTotalDePedidosFiltrado">
<part name="parameters" element="tns:getTotalDePedidosFiltrado"/>
</message>
<message name="getTotalDePedidosFiltradoResponse">
<part name="parameters" element="tns:getTotalDePedidosFiltradoResponse"/>
</message>
<message name="getPromedioDeSegundos">
<part name="parameters" element="tns:getPromedioDeSegundos"/>
</message>
<message name="getPromedioDeSegundosResponse">
<part name="parameters" element="tns:getPromedioDeSegundosResponse"/>
</message>
<message name="getHistorialPedidos">
<part name="parameters" element="tns:getHistorialPedidos"/>
</message>
<message name="getHistorialPedidosResponse">
<part name="parameters" element="tns:getHistorialPedidosResponse"/>
</message>
<message name="cantPedBuenosSEGFiltrados">
<part name="parameters" element="tns:cantPedBuenosSEGFiltrados"/>
</message>
<message name="cantPedBuenosSEGFiltradosResponse">
<part name="parameters" element="tns:cantPedBuenosSEGFiltradosResponse"/>
</message>
<message name="getPromSegFiltrado">
<part name="parameters" element="tns:getPromSegFiltrado"/>
</message>
<message name="getPromSegFiltradoResponse">
<part name="parameters" element="tns:getPromSegFiltradoResponse"/>
</message>
<message name="cantPedMalosSEGFiltrados">
<part name="parameters" element="tns:cantPedMalosSEGFiltrados"/>
</message>
<message name="cantPedMalosSEGFiltradosResponse">
<part name="parameters" element="tns:cantPedMalosSEGFiltradosResponse"/>
</message>
<message name="registrarHistorialPedidos">
<part name="parameters" element="tns:registrarHistorialPedidos"/>
</message>
<message name="registrarHistorialPedidosResponse">
<part name="parameters" element="tns:registrarHistorialPedidosResponse"/>
</message>
<message name="cambiarEstadoPedido">
<part name="parameters" element="tns:cambiarEstadoPedido"/>
</message>
<message name="cambiarEstadoPedidoResponse">
<part name="parameters" element="tns:cambiarEstadoPedidoResponse"/>
</message>
<message name="cantPedBuenosMINFiltrados">
<part name="parameters" element="tns:cantPedBuenosMINFiltrados"/>
</message>
<message name="cantPedBuenosMINFiltradosResponse">
<part name="parameters" element="tns:cantPedBuenosMINFiltradosResponse"/>
</message>
<message name="registrarPersonal">
<part name="parameters" element="tns:registrarPersonal"/>
</message>
<message name="registrarPersonalResponse">
<part name="parameters" element="tns:registrarPersonalResponse"/>
</message>
<message name="getPromMinFiltrado">
<part name="parameters" element="tns:getPromMinFiltrado"/>
</message>
<message name="getPromMinFiltradoResponse">
<part name="parameters" element="tns:getPromMinFiltradoResponse"/>
</message>
<message name="cantPedMalosMINFiltrados">
<part name="parameters" element="tns:cantPedMalosMINFiltrados"/>
</message>
<message name="cantPedMalosMINFiltradosResponse">
<part name="parameters" element="tns:cantPedMalosMINFiltradosResponse"/>
</message>
<message name="getHistorialPedidosFiltrados">
<part name="parameters" element="tns:getHistorialPedidosFiltrados"/>
</message>
<message name="getHistorialPedidosFiltradosResponse">
<part name="parameters" element="tns:getHistorialPedidosFiltradosResponse"/>
</message>
<message name="getHoraDeEspera">
<part name="parameters" element="tns:getHoraDeEspera"/>
</message>
<message name="getHoraDeEsperaResponse">
<part name="parameters" element="tns:getHoraDeEsperaResponse"/>
</message>
<message name="cantPedMalosMIN">
<part name="parameters" element="tns:cantPedMalosMIN"/>
</message>
<message name="cantPedMalosMINResponse">
<part name="parameters" element="tns:cantPedMalosMINResponse"/>
</message>
<message name="cantPedBuenosSEG">
<part name="parameters" element="tns:cantPedBuenosSEG"/>
</message>
<message name="cantPedBuenosSEGResponse">
<part name="parameters" element="tns:cantPedBuenosSEGResponse"/>
</message>
<message name="getHoraRegistro">
<part name="parameters" element="tns:getHoraRegistro"/>
</message>
<message name="getHoraRegistroResponse">
<part name="parameters" element="tns:getHoraRegistroResponse"/>
</message>
<message name="cantPedMalosSeg">
<part name="parameters" element="tns:cantPedMalosSeg"/>
</message>
<message name="cantPedMalosSegResponse">
<part name="parameters" element="tns:cantPedMalosSegResponse"/>
</message>
<message name="agregarPedido">
<part name="parameters" element="tns:agregarPedido"/>
</message>
<message name="agregarPedidoResponse">
<part name="parameters" element="tns:agregarPedidoResponse"/>
</message>
<message name="id_CargoPersona">
<part name="parameters" element="tns:id_CargoPersona"/>
</message>
<message name="id_CargoPersonaResponse">
<part name="parameters" element="tns:id_CargoPersonaResponse"/>
</message>
<message name="horaRegPed">
<part name="parameters" element="tns:horaRegPed"/>
</message>
<message name="horaRegPedResponse">
<part name="parameters" element="tns:horaRegPedResponse"/>
</message>
<message name="minutoRegPed">
<part name="parameters" element="tns:minutoRegPed"/>
</message>
<message name="minutoRegPedResponse">
<part name="parameters" element="tns:minutoRegPedResponse"/>
</message>
<message name="pedidosDeHoy">
<part name="parameters" element="tns:pedidosDeHoy"/>
</message>
<message name="pedidosDeHoyResponse">
<part name="parameters" element="tns:pedidosDeHoyResponse"/>
</message>
<message name="pedidosPorFecha">
<part name="parameters" element="tns:pedidosPorFecha"/>
</message>
<message name="pedidosPorFechaResponse">
<part name="parameters" element="tns:pedidosPorFechaResponse"/>
</message>
<message name="getSegDeEspera">
<part name="parameters" element="tns:getSegDeEspera"/>
</message>
<message name="getSegDeEsperaResponse">
<part name="parameters" element="tns:getSegDeEsperaResponse"/>
</message>
<message name="todosLosPedidos">
<part name="parameters" element="tns:todosLosPedidos"/>
</message>
<message name="todosLosPedidosResponse">
<part name="parameters" element="tns:todosLosPedidosResponse"/>
</message>
<message name="segundoRegPed">
<part name="parameters" element="tns:segundoRegPed"/>
</message>
<message name="segundoRegPedResponse">
<part name="parameters" element="tns:segundoRegPedResponse"/>
</message>
<message name="todasLasPersonas">
<part name="parameters" element="tns:todasLasPersonas"/>
</message>
<message name="todasLasPersonasResponse">
<part name="parameters" element="tns:todasLasPersonasResponse"/>
</message>
<message name="cantPedBuenosMIN">
<part name="parameters" element="tns:cantPedBuenosMIN"/>
</message>
<message name="cantPedBuenosMINResponse">
<part name="parameters" element="tns:cantPedBuenosMINResponse"/>
</message>
<message name="getMinDeEspera">
<part name="parameters" element="tns:getMinDeEspera"/>
</message>
<message name="getMinDeEsperaResponse">
<part name="parameters" element="tns:getMinDeEsperaResponse"/>
</message>
<message name="ingresar">
<part name="parameters" element="tns:ingresar"/>
</message>
<message name="ingresarResponse">
<part name="parameters" element="tns:ingresarResponse"/>
</message>
<portType name="WSPedidos">
<operation name="getPromedioDeMinutos">
<input wsam:Action="http://webservice/WSPedidos/getPromedioDeMinutosRequest" message="tns:getPromedioDeMinutos"/>
<output wsam:Action="http://webservice/WSPedidos/getPromedioDeMinutosResponse" message="tns:getPromedioDeMinutosResponse"/>
</operation>
<operation name="numTotalDePersonas">
<input wsam:Action="http://webservice/WSPedidos/numTotalDePersonasRequest" message="tns:numTotalDePersonas"/>
<output wsam:Action="http://webservice/WSPedidos/numTotalDePersonasResponse" message="tns:numTotalDePersonasResponse"/>
</operation>
<operation name="numCantPedidosHoy">
<input wsam:Action="http://webservice/WSPedidos/numCantPedidosHoyRequest" message="tns:numCantPedidosHoy"/>
<output wsam:Action="http://webservice/WSPedidos/numCantPedidosHoyResponse" message="tns:numCantPedidosHoyResponse"/>
</operation>
<operation name="actualizarPedidoAEntregado">
<input wsam:Action="http://webservice/WSPedidos/actualizarPedidoAEntregadoRequest" message="tns:actualizarPedidoAEntregado"/>
<output wsam:Action="http://webservice/WSPedidos/actualizarPedidoAEntregadoResponse" message="tns:actualizarPedidoAEntregadoResponse"/>
</operation>
<operation name="horaRegistroPedido">
<input wsam:Action="http://webservice/WSPedidos/horaRegistroPedidoRequest" message="tns:horaRegistroPedido"/>
<output wsam:Action="http://webservice/WSPedidos/horaRegistroPedidoResponse" message="tns:horaRegistroPedidoResponse"/>
</operation>
<operation name="getPromedioDeHoras">
<input wsam:Action="http://webservice/WSPedidos/getPromedioDeHorasRequest" message="tns:getPromedioDeHoras"/>
<output wsam:Action="http://webservice/WSPedidos/getPromedioDeHorasResponse" message="tns:getPromedioDeHorasResponse"/>
</operation>
<operation name="getNumTotalPedidos">
<input wsam:Action="http://webservice/WSPedidos/getNumTotalPedidosRequest" message="tns:getNumTotalPedidos"/>
<output wsam:Action="http://webservice/WSPedidos/getNumTotalPedidosResponse" message="tns:getNumTotalPedidosResponse"/>
</operation>
<operation name="getPromHoraFiltrada">
<input wsam:Action="http://webservice/WSPedidos/getPromHoraFiltradaRequest" message="tns:getPromHoraFiltrada"/>
<output wsam:Action="http://webservice/WSPedidos/getPromHoraFiltradaResponse" message="tns:getPromHoraFiltradaResponse"/>
</operation>
<operation name="cambiarEstadoPedidoAListo">
<input wsam:Action="http://webservice/WSPedidos/cambiarEstadoPedidoAListoRequest" message="tns:cambiarEstadoPedidoAListo"/>
<output wsam:Action="http://webservice/WSPedidos/cambiarEstadoPedidoAListoResponse" message="tns:cambiarEstadoPedidoAListoResponse"/>
</operation>
<operation name="getTotalDePedidosFiltrado">
<input wsam:Action="http://webservice/WSPedidos/getTotalDePedidosFiltradoRequest" message="tns:getTotalDePedidosFiltrado"/>
<output wsam:Action="http://webservice/WSPedidos/getTotalDePedidosFiltradoResponse" message="tns:getTotalDePedidosFiltradoResponse"/>
</operation>
<operation name="getPromedioDeSegundos">
<input wsam:Action="http://webservice/WSPedidos/getPromedioDeSegundosRequest" message="tns:getPromedioDeSegundos"/>
<output wsam:Action="http://webservice/WSPedidos/getPromedioDeSegundosResponse" message="tns:getPromedioDeSegundosResponse"/>
</operation>
<operation name="getHistorialPedidos">
<input wsam:Action="http://webservice/WSPedidos/getHistorialPedidosRequest" message="tns:getHistorialPedidos"/>
<output wsam:Action="http://webservice/WSPedidos/getHistorialPedidosResponse" message="tns:getHistorialPedidosResponse"/>
</operation>
<operation name="cantPedBuenosSEGFiltrados">
<input wsam:Action="http://webservice/WSPedidos/cantPedBuenosSEGFiltradosRequest" message="tns:cantPedBuenosSEGFiltrados"/>
<output wsam:Action="http://webservice/WSPedidos/cantPedBuenosSEGFiltradosResponse" message="tns:cantPedBuenosSEGFiltradosResponse"/>
</operation>
<operation name="getPromSegFiltrado">
<input wsam:Action="http://webservice/WSPedidos/getPromSegFiltradoRequest" message="tns:getPromSegFiltrado"/>
<output wsam:Action="http://webservice/WSPedidos/getPromSegFiltradoResponse" message="tns:getPromSegFiltradoResponse"/>
</operation>
<operation name="cantPedMalosSEGFiltrados">
<input wsam:Action="http://webservice/WSPedidos/cantPedMalosSEGFiltradosRequest" message="tns:cantPedMalosSEGFiltrados"/>
<output wsam:Action="http://webservice/WSPedidos/cantPedMalosSEGFiltradosResponse" message="tns:cantPedMalosSEGFiltradosResponse"/>
</operation>
<operation name="registrarHistorialPedidos">
<input wsam:Action="http://webservice/WSPedidos/registrarHistorialPedidosRequest" message="tns:registrarHistorialPedidos"/>
<output wsam:Action="http://webservice/WSPedidos/registrarHistorialPedidosResponse" message="tns:registrarHistorialPedidosResponse"/>
</operation>
<operation name="cambiarEstadoPedido">
<input wsam:Action="http://webservice/WSPedidos/cambiarEstadoPedidoRequest" message="tns:cambiarEstadoPedido"/>
<output wsam:Action="http://webservice/WSPedidos/cambiarEstadoPedidoResponse" message="tns:cambiarEstadoPedidoResponse"/>
</operation>
<operation name="cantPedBuenosMINFiltrados">
<input wsam:Action="http://webservice/WSPedidos/cantPedBuenosMINFiltradosRequest" message="tns:cantPedBuenosMINFiltrados"/>
<output wsam:Action="http://webservice/WSPedidos/cantPedBuenosMINFiltradosResponse" message="tns:cantPedBuenosMINFiltradosResponse"/>
</operation>
<operation name="registrarPersonal">
<input wsam:Action="http://webservice/WSPedidos/registrarPersonalRequest" message="tns:registrarPersonal"/>
<output wsam:Action="http://webservice/WSPedidos/registrarPersonalResponse" message="tns:registrarPersonalResponse"/>
</operation>
<operation name="getPromMinFiltrado">
<input wsam:Action="http://webservice/WSPedidos/getPromMinFiltradoRequest" message="tns:getPromMinFiltrado"/>
<output wsam:Action="http://webservice/WSPedidos/getPromMinFiltradoResponse" message="tns:getPromMinFiltradoResponse"/>
</operation>
<operation name="cantPedMalosMINFiltrados">
<input wsam:Action="http://webservice/WSPedidos/cantPedMalosMINFiltradosRequest" message="tns:cantPedMalosMINFiltrados"/>
<output wsam:Action="http://webservice/WSPedidos/cantPedMalosMINFiltradosResponse" message="tns:cantPedMalosMINFiltradosResponse"/>
</operation>
<operation name="getHistorialPedidosFiltrados">
<input wsam:Action="http://webservice/WSPedidos/getHistorialPedidosFiltradosRequest" message="tns:getHistorialPedidosFiltrados"/>
<output wsam:Action="http://webservice/WSPedidos/getHistorialPedidosFiltradosResponse" message="tns:getHistorialPedidosFiltradosResponse"/>
</operation>
<operation name="getHoraDeEspera">
<input wsam:Action="http://webservice/WSPedidos/getHoraDeEsperaRequest" message="tns:getHoraDeEspera"/>
<output wsam:Action="http://webservice/WSPedidos/getHoraDeEsperaResponse" message="tns:getHoraDeEsperaResponse"/>
</operation>
<operation name="cantPedMalosMIN">
<input wsam:Action="http://webservice/WSPedidos/cantPedMalosMINRequest" message="tns:cantPedMalosMIN"/>
<output wsam:Action="http://webservice/WSPedidos/cantPedMalosMINResponse" message="tns:cantPedMalosMINResponse"/>
</operation>
<operation name="cantPedBuenosSEG">
<input wsam:Action="http://webservice/WSPedidos/cantPedBuenosSEGRequest" message="tns:cantPedBuenosSEG"/>
<output wsam:Action="http://webservice/WSPedidos/cantPedBuenosSEGResponse" message="tns:cantPedBuenosSEGResponse"/>
</operation>
<operation name="getHoraRegistro">
<input wsam:Action="http://webservice/WSPedidos/getHoraRegistroRequest" message="tns:getHoraRegistro"/>
<output wsam:Action="http://webservice/WSPedidos/getHoraRegistroResponse" message="tns:getHoraRegistroResponse"/>
</operation>
<operation name="cantPedMalosSeg">
<input wsam:Action="http://webservice/WSPedidos/cantPedMalosSegRequest" message="tns:cantPedMalosSeg"/>
<output wsam:Action="http://webservice/WSPedidos/cantPedMalosSegResponse" message="tns:cantPedMalosSegResponse"/>
</operation>
<operation name="agregarPedido">
<input wsam:Action="http://webservice/WSPedidos/agregarPedidoRequest" message="tns:agregarPedido"/>
<output wsam:Action="http://webservice/WSPedidos/agregarPedidoResponse" message="tns:agregarPedidoResponse"/>
</operation>
<operation name="id_CargoPersona">
<input wsam:Action="http://webservice/WSPedidos/id_CargoPersonaRequest" message="tns:id_CargoPersona"/>
<output wsam:Action="http://webservice/WSPedidos/id_CargoPersonaResponse" message="tns:id_CargoPersonaResponse"/>
</operation>
<operation name="horaRegPed">
<input wsam:Action="http://webservice/WSPedidos/horaRegPedRequest" message="tns:horaRegPed"/>
<output wsam:Action="http://webservice/WSPedidos/horaRegPedResponse" message="tns:horaRegPedResponse"/>
</operation>
<operation name="minutoRegPed">
<input wsam:Action="http://webservice/WSPedidos/minutoRegPedRequest" message="tns:minutoRegPed"/>
<output wsam:Action="http://webservice/WSPedidos/minutoRegPedResponse" message="tns:minutoRegPedResponse"/>
</operation>
<operation name="pedidosDeHoy">
<input wsam:Action="http://webservice/WSPedidos/pedidosDeHoyRequest" message="tns:pedidosDeHoy"/>
<output wsam:Action="http://webservice/WSPedidos/pedidosDeHoyResponse" message="tns:pedidosDeHoyResponse"/>
</operation>
<operation name="pedidosPorFecha">
<input wsam:Action="http://webservice/WSPedidos/pedidosPorFechaRequest" message="tns:pedidosPorFecha"/>
<output wsam:Action="http://webservice/WSPedidos/pedidosPorFechaResponse" message="tns:pedidosPorFechaResponse"/>
</operation>
<operation name="getSegDeEspera">
<input wsam:Action="http://webservice/WSPedidos/getSegDeEsperaRequest" message="tns:getSegDeEspera"/>
<output wsam:Action="http://webservice/WSPedidos/getSegDeEsperaResponse" message="tns:getSegDeEsperaResponse"/>
</operation>
<operation name="todosLosPedidos">
<input wsam:Action="http://webservice/WSPedidos/todosLosPedidosRequest" message="tns:todosLosPedidos"/>
<output wsam:Action="http://webservice/WSPedidos/todosLosPedidosResponse" message="tns:todosLosPedidosResponse"/>
</operation>
<operation name="segundoRegPed">
<input wsam:Action="http://webservice/WSPedidos/segundoRegPedRequest" message="tns:segundoRegPed"/>
<output wsam:Action="http://webservice/WSPedidos/segundoRegPedResponse" message="tns:segundoRegPedResponse"/>
</operation>
<operation name="todasLasPersonas">
<input wsam:Action="http://webservice/WSPedidos/todasLasPersonasRequest" message="tns:todasLasPersonas"/>
<output wsam:Action="http://webservice/WSPedidos/todasLasPersonasResponse" message="tns:todasLasPersonasResponse"/>
</operation>
<operation name="cantPedBuenosMIN">
<input wsam:Action="http://webservice/WSPedidos/cantPedBuenosMINRequest" message="tns:cantPedBuenosMIN"/>
<output wsam:Action="http://webservice/WSPedidos/cantPedBuenosMINResponse" message="tns:cantPedBuenosMINResponse"/>
</operation>
<operation name="getMinDeEspera">
<input wsam:Action="http://webservice/WSPedidos/getMinDeEsperaRequest" message="tns:getMinDeEspera"/>
<output wsam:Action="http://webservice/WSPedidos/getMinDeEsperaResponse" message="tns:getMinDeEsperaResponse"/>
</operation>
<operation name="ingresar">
<input wsam:Action="http://webservice/WSPedidos/ingresarRequest" message="tns:ingresar"/>
<output wsam:Action="http://webservice/WSPedidos/ingresarResponse" message="tns:ingresarResponse"/>
</operation>
</portType>
<binding name="WSPedidosPortBinding" type="tns:WSPedidos">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getPromedioDeMinutos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="numTotalDePersonas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="numCantPedidosHoy">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizarPedidoAEntregado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="horaRegistroPedido">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPromedioDeHoras">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getNumTotalPedidos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPromHoraFiltrada">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cambiarEstadoPedidoAListo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTotalDePedidosFiltrado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPromedioDeSegundos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getHistorialPedidos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cantPedBuenosSEGFiltrados">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPromSegFiltrado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cantPedMalosSEGFiltrados">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registrarHistorialPedidos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cambiarEstadoPedido">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cantPedBuenosMINFiltrados">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registrarPersonal">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPromMinFiltrado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cantPedMalosMINFiltrados">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getHistorialPedidosFiltrados">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getHoraDeEspera">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cantPedMalosMIN">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cantPedBuenosSEG">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getHoraRegistro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cantPedMalosSeg">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="agregarPedido">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="id_CargoPersona">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="horaRegPed">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="minutoRegPed">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="pedidosDeHoy">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="pedidosPorFecha">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSegDeEspera">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="todosLosPedidos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="segundoRegPed">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="todasLasPersonas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cantPedBuenosMIN">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMinDeEspera">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ingresar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSPedidos">
<port name="WSPedidosPort" binding="tns:WSPedidosPortBinding">
<soap:address location="http://localhost:8080/ProyectoT/WSPedidos"/>
</port>
</service>
</definitions>