xml-resources/web-service-references/WSPedidos/wsdl/localhost_40026/ProyectoT/WSPedidos.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice/" name="WSPedidos">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice/" schemaLocation="http://localhost:40026/ProyectoT/WSPedidos?xsd=1"/>
</xsd:schema>
</types>
<message name="numTotalDePersonas">
<part name="parameters" element="tns:numTotalDePersonas"/>
</message>
<message name="numTotalDePersonasResponse">
<part name="parameters" element="tns:numTotalDePersonasResponse"/>
</message>
<message name="numCantPedidosHoy">
<part name="parameters" element="tns:numCantPedidosHoy"/>
</message>
<message name="numCantPedidosHoyResponse">
<part name="parameters" element="tns:numCantPedidosHoyResponse"/>
</message>
<message name="cambiarEstadoPedido">
<part name="parameters" element="tns:cambiarEstadoPedido"/>
</message>
<message name="todosLosPedidos">
<part name="parameters" element="tns:todosLosPedidos"/>
</message>
<message name="todosLosPedidosResponse">
<part name="parameters" element="tns:todosLosPedidosResponse"/>
</message>
<message name="agregarPedido">
<part name="parameters" element="tns:agregarPedido"/>
</message>
<message name="ingresar">
<part name="parameters" element="tns:ingresar"/>
</message>
<message name="ingresarResponse">
<part name="parameters" element="tns:ingresarResponse"/>
</message>
<message name="pedidosPorFecha">
<part name="parameters" element="tns:pedidosPorFecha"/>
</message>
<message name="pedidosPorFechaResponse">
<part name="parameters" element="tns:pedidosPorFechaResponse"/>
</message>
<message name="pedidosDeHoy">
<part name="parameters" element="tns:pedidosDeHoy"/>
</message>
<message name="pedidosDeHoyResponse">
<part name="parameters" element="tns:pedidosDeHoyResponse"/>
</message>
<portType name="WSPedidos">
<operation name="numTotalDePersonas">
<input wsam:Action="http://webservice/WSPedidos/numTotalDePersonasRequest" message="tns:numTotalDePersonas"/>
<output wsam:Action="http://webservice/WSPedidos/numTotalDePersonasResponse" message="tns:numTotalDePersonasResponse"/>
</operation>
<operation name="numCantPedidosHoy">
<input wsam:Action="http://webservice/WSPedidos/numCantPedidosHoyRequest" message="tns:numCantPedidosHoy"/>
<output wsam:Action="http://webservice/WSPedidos/numCantPedidosHoyResponse" message="tns:numCantPedidosHoyResponse"/>
</operation>
<operation name="cambiarEstadoPedido">
<input wsam:Action="http://webservice/WSPedidos/cambiarEstadoPedido" message="tns:cambiarEstadoPedido"/>
</operation>
<operation name="todosLosPedidos">
<input wsam:Action="http://webservice/WSPedidos/todosLosPedidosRequest" message="tns:todosLosPedidos"/>
<output wsam:Action="http://webservice/WSPedidos/todosLosPedidosResponse" message="tns:todosLosPedidosResponse"/>
</operation>
<operation name="agregarPedido">
<input wsam:Action="http://webservice/WSPedidos/agregarPedido" message="tns:agregarPedido"/>
</operation>
<operation name="ingresar">
<input wsam:Action="http://webservice/WSPedidos/ingresarRequest" message="tns:ingresar"/>
<output wsam:Action="http://webservice/WSPedidos/ingresarResponse" message="tns:ingresarResponse"/>
</operation>
<operation name="pedidosPorFecha">
<input wsam:Action="http://webservice/WSPedidos/pedidosPorFechaRequest" message="tns:pedidosPorFecha"/>
<output wsam:Action="http://webservice/WSPedidos/pedidosPorFechaResponse" message="tns:pedidosPorFechaResponse"/>
</operation>
<operation name="pedidosDeHoy">
<input wsam:Action="http://webservice/WSPedidos/pedidosDeHoyRequest" message="tns:pedidosDeHoy"/>
<output wsam:Action="http://webservice/WSPedidos/pedidosDeHoyResponse" message="tns:pedidosDeHoyResponse"/>
</operation>
</portType>
<binding name="WSPedidosPortBinding" type="tns:WSPedidos">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="numTotalDePersonas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="numCantPedidosHoy">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cambiarEstadoPedido">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="todosLosPedidos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="agregarPedido">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="ingresar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="pedidosPorFecha">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="pedidosDeHoy">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSPedidos">
<port name="WSPedidosPort" binding="tns:WSPedidosPortBinding">
<soap:address location="http://localhost:40026/ProyectoT/WSPedidos"/>
</port>
</service>
</definitions>