xml-resources/web-service-references/WSPedidos/wsdl/localhost_40026/ProyectoT/WSPedidos.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://webservice/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservice/">

<xs:element name="agregarPedido" type="tns:agregarPedido"/>

<xs:element name="cambiarEstadoPedido" type="tns:cambiarEstadoPedido"/>

<xs:element name="ingresar" type="tns:ingresar"/>

<xs:element name="ingresarResponse" type="tns:ingresarResponse"/>

<xs:element name="numCantPedidosHoy" type="tns:numCantPedidosHoy"/>

<xs:element name="numCantPedidosHoyResponse" type="tns:numCantPedidosHoyResponse"/>

<xs:element name="numTotalDePersonas" type="tns:numTotalDePersonas"/>

<xs:element name="numTotalDePersonasResponse" type="tns:numTotalDePersonasResponse"/>

<xs:element name="pedidosDeHoy" type="tns:pedidosDeHoy"/>

<xs:element name="pedidosDeHoyResponse" type="tns:pedidosDeHoyResponse"/>

<xs:element name="pedidosPorFecha" type="tns:pedidosPorFecha"/>

<xs:element name="pedidosPorFechaResponse" type="tns:pedidosPorFechaResponse"/>

<xs:element name="todosLosPedidos" type="tns:todosLosPedidos"/>

<xs:element name="todosLosPedidosResponse" type="tns:todosLosPedidosResponse"/>

<xs:complexType name="pedidosPorFecha">
<xs:sequence>
<xs:element name="fecha_Filtro" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pedidosPorFechaResponse">
<xs:sequence>
<xs:element name="return" type="tns:pedido" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pedido">
<xs:sequence>
<xs:element name="estado" type="xs:string" minOccurs="0"/>
<xs:element name="estado_pedido" type="xs:boolean"/>
<xs:element name="fecha" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="nom_persona" type="xs:string" minOccurs="0"/>
<xs:element name="rut_persona" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="numTotalDePersonas">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="numTotalDePersonasResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregarPedido">
<xs:sequence>
<xs:element name="rut_Persona" type="xs:string" minOccurs="0"/>
<xs:element name="nombre_Persona" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="numCantPedidosHoy">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="numCantPedidosHoyResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cambiarEstadoPedido">
<xs:sequence>
<xs:element name="idPedido" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pedidosDeHoy">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="pedidosDeHoyResponse">
<xs:sequence>
<xs:element name="return" type="tns:pedido" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ingresar">
<xs:sequence>
<xs:element name="rut" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ingresarResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="todosLosPedidos">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="todosLosPedidosResponse">
<xs:sequence>
<xs:element name="return" type="tns:pedido" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>